project = "infra-227420"
private_key_path_test = "test"
public_key_path = "test.pub"
public_key_path_test = "test.pub"
public_key_path_test2 = "test.pub"
public_key_path_test3 = "test.pub"
private_key_path = "test"
disk_image = "reddit-base"
